/*GLOBAL*/
html, body{
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/*TÍTULOS*/
header h1, main h2{
    margin-bottom: 70px;
}

.form h2{
    text-align: right;
}

/*ESTRUTURA*/
/*Alinhamentos, espaçamentos, larguras e alturas.*/
header, main, footer{
    text-align: center;
}

header, .form, main{
    margin:0, auto, 70px, auto; /*Definida em sentido horário*/
    width: 90%;
    max-width: 500px;
}

header button{
    padding: 8px 16px;
    border-radius: 4px;
}

/*FORM*/
section.form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*Espaçamento do grid*/
    grid-gap: 45px;
}

form input, form button{
    width: 100%; /*Largura total*/
    margin-bottom: 4px;
    box-sizing: border-box;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px red solid;
}

main .doadores{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    /*Pega o espaço e fraciona para todos os elementos*/
}

footer{
    margin-top: auto;
    padding: 16px;
    border: 1px solid #EEE;
}