/*GLOBAL*/
*{
    box-sizing: border-box;
}
html, body{
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
}

/*TÍTULOS*/
header h1, main h2{
    margin-bottom: 70px;
}

h1,h2{
    color: #000000cc;
}

.form h2{
    text-align: right;
    color: #ffffffee;
    font-size: 18px;
}

/*ESTRUTURA*/
/*Alinhamentos, espaçamentos, larguras e alturas.*/
header, main, footer{
    text-align: center;
}

header, .form, main{
    margin:0, auto, 70px, auto; /*Definida em sentido horário*/
    width: 90%;
    max-width: 500px;
}

header button{
    margin-top: 16px;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #ff4f4f;
    color: #fff;
    font-weight: bold;
    border: none;
}

header.logo{
    width: 120px;
    margin: 70px 0;
}

/*FORM*/
section.form{
    display: grid;
    grid-template-columns: 1fr 1fr;

    /*Espaçamento do grid*/
    grid-gap: 45px;

    background-color: #ff4f4f;
    padding: 16px 64px;

    align-items: center;

    border-radius: 6px;
}

form input, form button{
    width: 100%; /*Largura total*/
    margin-bottom: 4px;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px #ffffff88 solid;
}

form input{
    background-color: transparent;

}

form input::placeholder{
    color: #ffffffaa;
}

form button{
    font-weight: bold;
}

main h2 span{
    color: #ff4f4f;
}

main .doadores{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    /*Pega o espaço e fraciona para todos os elementos*/
}

footer{
    margin-top: auto;
    padding: 16px;
    border: 1px solid #EEE;
}